.status-atividade {
   text-align: center;

   padding: 6px;

   border-radius: 4px;
}

.Pendente {
   background-color: #ffc300;

   color: #000;
}

.Andamento {
   background-color: #0466c8;

   color: #fff;
}

.Finalizada {
   background-color: #2a9134;

   color: #fff;
}

.Cancelada {
   background-color: #c1121f;

   color: #fff;
}